h1 {
    color: orange;
}

.grid-item {
    background-color: blue;
    padding: 30px;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 20px;
    align-items: stretch;
    height: 100vh;
    justify-content: center;
}

.grid-item-1 {
    grid-row: span 2;
}

.grid-item-7 {
    grid-column: span 2;
}