body {
    background-color: lightblue;
    margin: 0;
}


.nav {
	background-color: #333;
	color: #fff;
	font-size: 28px;
	height: auto;
    width: 100vw;
    margin: auto;
	display: flex;
	justify-content: center;
    justify-items: center;
	align-items: center;
}

h1 {
	margin: 8px;
}

.js {
    display: grid;
    
}

.obal .obr {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
}

.obr {
	position: relative;
	bottom: 0;
	margin-bottom: 15px;
	margin-top: 200px;
}