.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 150px;
  
    img {
      width: 100px;
      height: 50px;
      margin: 0;
  
      &:hover {
        outline: 2px solid red;
      }
    }
  }

  .obal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }
  