body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0px;
    background-color: #E5E5E5;
  }
  
  .bar div:last-child {
      background-color: #7C7474;
      padding: 15px;
  }
  
  .header-logo .img {
    width: 150px;
    height: 150px;
}

  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #CBC1B1;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    width: 100%;
  }
  
  .headline-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .bar {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }
  
  .hero-img {
    position: relative;
  }
  
  .hero-img img {
    width: 300px;
    height: 200px;
    z-index: 2;
    position: relative;
  }
  
  .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f2b880; 
    align-items: center;
    border-radius: 30px;
    width: 800px;
    height: 250px;
    padding: 30px;
    margin-top: 15px;
    gap: 40px;
  }
  
  .img-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e88121;
    top: -11px;
    left: -9px;
  }
  
  .podnab {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 150px;
    background-color: #CBC1B1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    bottom: 0;
  }