.flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.item{
    background-color: blue;
    padding: 20px;
}

.item1{
    background-color: aqua;
    padding: 20px;
}