h1 {
    color: #ffa500;
    font-size: 30;
    font-style: bold;
    text-align: center;
}

p {
    color: #00FF00;
    font-size: 16;
    font-style: normal;
    text-align: center;
}

h2 {
    color: #00f;
    font-size: 25;
    border-width: 600;
}

