h1 {
    color: orange;
    font-size: 30;
    font-style: bold;
    text-align: center;
}

p {
    color: rgb(15, 15, 175);
    font-size: 16;
    font-style: normal;
    text-align: center;
}

h2 {
    color: green;
    font-size: 25;
    border-width: 600;
}

